@font-face {
    font-family: 'RemboyRegular';
    src: url('../Topbottom/RemboyRegular.woff') format('woff');
    font-weight: normal;
  }

.greeting {
  display: flex;
    padding: 1rem 5rem rem;
    padding-left: 5rem;
    font-size: 9vw;
    color: #f0efeb;
    font-feature-settings: "smcp", "c2sc";
    font-variant-caps: all-small-caps;
    font-family: 'RemboyRegular';
    line-height: 0vw;
    text-shadow: 0 1px 0px #525252, 1px 0 0px #b7b7a4, 1px 2px 1px #b7b7a4, 2px 1px 1px #b7b7a4, 2px 3px 2px #b7b7a4, 3px 2px 2px #b7b7a4, 3px 4px 2px #79796b, 4px 3px 3px #b7b7a4, 4px 5px 3px #79796b, 5px 4px 2px #b7b7a4, 5px 6px 2px #79796b, 6px 5px 2px #b7b7a4, 6px 7px 1px #79796b, 7px 6px 1px #b7b7a4, 7px 8px 0px #79796b, 8px 7px 0px #b7b7a4, 2px 2px 2px rgb(0 92 206 / 0%);

  
  }
  
  p {
    padding: 8rem 10rem 6rem;
    display: flex;
    font-size: xx-large;
    font-style: oblique;
    text-align: left;
    color: #36543f;
    line-height: 1.75;
    background: #f9ebd7;
    font-weight: 200;
  }

  .container {}

