.nav {
  display: flex;
  justify-content: center;
  /* bottom: 0; */
  background-color: #b7b7a4;
  height: 8em;
  width: 100%;
}

.nav-tabs {
  margin: 0;
  font-size: 3rem;
  display: flex;
  align-content: center;
  font-size: x-large;
}

.nav-link{
  color: #fff1e6;
}

.nav-item {
  margin: 2rem;
  color: #fff1e6}

li {
  list-style: none;
  text-decoration: none
}

a {
  text-decoration: none
}
