.socialLinks {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: #b7b7a4;
    height: 8em;
    width: 100%;
  }

  .links {
    margin: 2rem;
    display: flex;
    font-size: large;
    color: #fff1e6
  }
  :hover.links {
    color: hsl(26, 100%, 95%, .5);

  }

  li {
      list-style: none;
      text-decoration: none
  }

  a {
      text-decoration: none
  }